<!DOCTYPE html>
<html>
  <head>
    <title>Careline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1a85cb0c49.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="mb-4 bg-white border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-dark p-2 ">
        <div class="container">
          <div class="logo-image">
             <%= link_to root_path do %>
              <%= image_tag 'logo.jpg', :size => '150x150', :alt => 'ロゴ' %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_signed_in' %>
              <% else %>
                <%= render 'layouts/sign_out' %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="bg-white border-top border-dark pt-5 pb-5 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-3 mx-auto">
            <h3 class="logo">careline</h3>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
